p id="notice"
  = notice

strong Name:

p id="project_name"
  = @project.name


strong Description:

p id="project_description"
  = @project.description

= link_to 'Edit', edit_project_path(@project)
| |
= link_to 'Back', projects_path
